name: DllBuild
on:
  push:
    branches:
      - master
      - 'issues/**'

jobs:
  build:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, '[skip ci]')"

    steps:
    - name: Get source
      uses: actions/checkout@v4

    - uses: dlang-community/setup-dlang@v1.4.0
      with:
        compiler: dmd-latest

    - name: Build
      run: make

    - name: Test
      run: make test
